<div class="title">
    <h1>Create your Chart</h1>
</div>
<div class="container-fluid" id="contenedor">
    
    <div class="row">
        <section class="col-3" id="line" style="text-align: center;">
            <h4>Line Chart</h4>
            
        </section>
        <section class="col-3" id="area" style="text-align: center;">
            <h4>Area Chart</h4>
        </section>
        <section class="col-3" id="bar" style="text-align: center;">
            <h4>Bar Chart</h4>
        </section>
    </div>

</div>