<!-- <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="m-5">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="labels">Labels</label>
        <input type="text" class="form-control" id="labels" name="labels" [(ngModel)]="labels"
            placeholder="Example: January, February, ...">
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" name="data" [(ngModel)]="data" placeholder="Example: 1,2,3,4">
    </div>
    <label for="color">Color</label>
    <select class="form-select" aria-label="Default select example" name="color" id="color" [(ngModel)]="color">
        <option selected>Select Line Color</option>
        <option value="1">Green</option>
        <option value="2">Red</option>
        <option value="3">Blue</option>
    </select>
    <br>
    <input type="submit" name="Create" id="quest">
</form> -->


<form (ngSubmit)="onSubmit()" #myForm="ngForm" class="m-5" *ngIf="acolor!='1'">
    <label for="name">Name</label>
    <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter name">
        <!-- <button (click)="fName()"><i class="fa-solid fa-circle-arrow-right" style="color: #63E6BE;"></i></button> -->
        <div class="flecha">
            <i *ngIf="aname != '1'" (click)="fName()" class="fa-solid fa-circle-arrow-right"></i>
            <i *ngIf="aname == '1'" class="fa-solid fa-check"></i>
        </div>
<!-- hola -->
 <!-- hola -->
    </div>
    <label *ngIf="aname == '1'" for="labels">Labels</label>
    <div *ngIf="aname == '1'" class="form-group">
        <input type="text" class="form-control" id="labels" name="labels" [(ngModel)]="labels"
            placeholder="Example: January, February, ...">
        <!-- <button (click)="fLabels()"></button> -->
        <div class="flecha">
            <i *ngIf="alabels != '1'" (click)="fLabels()" class="fa-solid fa-circle-arrow-right"></i>
            <i *ngIf="alabels == '1'" class="fa-solid fa-check"></i>
        </div>
    </div>
    <label *ngIf="alabels == '1'" for="data">Data</label>
    <div *ngIf="alabels == '1'" class="form-group">
        <input type="text" class="form-control" id="data" name="data" [(ngModel)]="data" placeholder="Example: 1,2,3,4">
        <!-- <button (click)="fData()"></button> -->
        <div class="flecha">
            <i *ngIf="adata != '1'" (click)="fData()" class="fa-solid fa-circle-arrow-right"></i>
            <i *ngIf="adata == '1'" class="fa-solid fa-check"></i>
        </div>
    </div>
    <label *ngIf="adata == '1'" for="color">Color</label>
    <select *ngIf="adata == '1'" class="form-select" aria-label="Default select example" name="color" id="color"
        [(ngModel)]="color">
        <option selected>Select Line Color</option>
        <option value="1">Green</option>
        <option value="2">Red</option>
        <option value="3">Blue</option>
        <!-- <button (click)="fColor()"></button> -->
    </select>
    <!-- <br>
    <input *ngIf="adata == '1'" type="submit" name="Create" id="quest"> -->
    <br>
    <button (click)="redirect()" *ngIf="adata == '1'" type="submit" name="Create" id="quest"
        class="btn btn-primary">Submit</button>
</form>
<div class="gifcontainer">
    <img *ngIf="acolor =='1'" src="check.gif" alt="check">
</div>
