<div class="container">
    <div class="row">
        <div class="first col-4 m-3">
            <h1>Welcome to MyAnalyst</h1>
            <h5 style="display: flex; align-items: center;
             justify-content: center;">-</h5>
            <h4>Creating a chart has never been so easy!</h4>
            <button (click)="redirectChart()" class="btn-hover color-1">Create Chart</button>
            <button class="btn-hover color-2">Become Member</button>
        </div>
        <div class="second col-6 m-3 ps-5">
            <img src="homelogo.webp" alt="homelogo" class="homelogo">
            <div class="pieID pie">
            </div>
        </div>
    </div>
</div>

